{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Begnazar Akhmadjonov</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/me.jpg' %}" >
					<hr>
					<h4>Hi I'm Begnazar!</h4>
					<p>I love coding, math, analytics, and solving problems</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About Me</h4>
					<hr>
					<p> 20 years old Software Engineer from Uzbekistan.  I am student at Eötvös Loránd University.
						I’m skilled with Python and Django, and I am trying to learn other programming languages, step by step.
						In addition, during my studies at university, I have learned basics of C, C++, Java. Also, I have tried to put my knowledge into practise, so I made some webpages on my own.
					</p>

					<p>I am really keen on coding , solving problems, math , data analytics, and having a cup of coffee when I'm in stuck. </p>
					<p>As having soft skills, I am self-motivator and fast-learner. In addition , as I'm easygoing person, it is not difficult for me to work with a team. </p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Software Engineering Trainee at Khurshid IT Service</p>
					<p>
						Help to build websites using Python and Django Framework.
						Worked floe with data sets by creating admin panel using Python, Django.
						Learn how to build APIs and work with database.
						Resolving problems with customer's computers, application access and other technical resources.
						Review or make changes to customer accounts.
						Research answers or solutions as needed.
					</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS/Sass, Bootstrap, JavaScript/Jquery, React Basics, MySql, and working with APIs</p>
					<p>PS: Working on building web pages, databases.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p></p>

					<p>I have learned programming in many various online platforms such as Udemy, Coursera. In addition, I have watched many Youtube Tutorials as it gave me great knowledge </p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>Currently I'm looking for job as a Software Engineer Intern. I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself. </p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>